<div class='content'>
<section>
<p>Add New Comment</p>
<%= form_with model: @comment, url: user_post_comments_path, method: :post , local: true, class: "form-control" do |form|%>
<div>
    <%= form.label :text%>
    <%= form.text_area :text , placeholder: "Type comment" , rows: 20, required: true,  class: "form-post-text"%>
</div>
<div>
<%= form.submit "save" , class: "button"%>
</div>
<%end%>


</section>



</div>
